@use "../../vars.scss" as *;

.desktop-header {
    display: none;
}

.mobile-header-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;

    &.show {
        display: block;
    }
}

.mobile-header {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% - 3.2rem)); // 1.6rem padding + 1.5rem from h2
    transition: transform 0.5s;

    &.open {
        transform: translateY(0);

        .menu-icon {
            div {
                transition: transform 0.6s;
                transform-origin: left;

                &:first-child {
                    transform: rotateZ(35deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: rotateZ(-35deg);
                }
            }
        }
    }

    .mobile-header-search-results {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10.8rem;
        background-color: #212b36;
        transition: top 0.3s ease-out;
        z-index: -1;

        &.show {
            &.show-1 {
                top: -3.6rem;
            }

            &.show-2 {
                top: -7.2rem;
            }

            &.show-3 {
                top: -10.8rem;
            }
        }

        .mobile-search-item,
        .mobile-search-item-not-found {
            width: 100%;
            padding: 1rem 1.5rem;
            color: $white;
            text-align: center;
            animation: fadeIn 0.3s ease-out forwards;
            opacity: 0;
        }

        .mobile-search-item {
            display: flex;
            align-items: center;

            .genre {
                padding: 0.3rem 0.5rem;
                margin-right: 1rem;
                border-radius: 0.3rem;
                background-color: #000000;

                &.space {
                    background-color: #1e4788;
                }

                &.diverse {
                    background-color: #4e1e88;
                }

                &.horror {
                    background-color: #000000;
                }
            }
        }

        .mobile-search-item-not-found {
            padding: 1.3rem 1.5rem;
        }
    }

    .mobile-menu-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.8rem 1.2rem;
        background-color: #16202b;

        h2 {
            color: $white;
            font-size: 1.5rem;
        }

        .menu-icon {
            padding: 0.2rem;
            cursor: pointer;

            div {
                width: 1.8rem;
                height: 0.2rem;
                margin-bottom: 0.3rem;
                background: $white;
                border-radius: 0.1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        nav {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.5rem;

            .search-container {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                position: relative;
                left: -0.3rem;

                a {
                    font-size: 1.4rem;
                    color: $white;
                    text-decoration: none;
                    padding: 0.3rem;
                    margin-right: 0.3rem;

                    &:visited {
                        color: $white;
                    }
                }

                .input-container {
                    display: flex;
                    flex-grow: 1;
                    position: relative;

                    &:focus-within {
                        input {
                            &::placeholder {
                                visibility: visible;
                            }
                        }

                        .bottom-line {
                            transform: scale(1);
                        }
                    }

                    input {
                        flex-grow: 1;
                        outline: none;
                        border: none;
                        border-top-left-radius: 0.3rem;
                        border-bottom-left-radius: 0.3rem;
                        padding: 0.4rem;
                        font-size: 1.1rem;
                        background-color: #212b36;
                        color: $white;

                        &::placeholder {
                            visibility: hidden;
                        }
                    }

                    .bottom-line {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $white;
                        transform: scale(0);
                        transform-origin: left;
                        transition: transform 0.5s ease-out;
                    }
                }

                button {
                    border: none;
                    border-top-right-radius: 0.3rem;
                    border-bottom-right-radius: 0.3rem;
                    background-color: #25313e;
                    color: $white;
                    padding: 0.4rem 0.8rem;
                    font-size: 1.1rem;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                p {
                    color: $white;
                    font-size: 1.2rem;
                    text-align: center;
                }

                hr {
                    border: none;
                    height: 1px;
                    width: 100%;
                    background-color: $white;
                }

                a {
                    display: block;
                    color: $white;
                    padding: 0.3rem;
                    font-size: 1.2rem;
                    text-align: center;
                    text-decoration: none;

                    &:visited {
                        color: $white;
                    }
                }

                .home {
                    margin: 1rem;
                    flex-basis: 100%;
                }

                .genres {
                    flex-basis: 100%;
                }

                .genre-name {
                    display: inline-block;
                }
            }
        }
    }
}

/* ###########################################
################ MEDIA QUERIES ############### 
########################################### */

@media screen and (min-width: $screen-md) {
    .mobile-header {
        transform: translateY(calc(100% - 4.2rem)); // 2.2rem padding + 2rem from h2

        .mobile-menu-container {
            padding-top: 1.1rem;
            padding-bottom: 1.1rem;

            h2 {
                font-size: 2rem;
            }

            .menu-icon {
                padding: 0.3rem;

                div {
                    width: 2.2rem;
                    height: 0.2rem;
                    margin-bottom: 0.4rem;
                    background: $white;
                    border-radius: 0.1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            nav {
                .search-container {
                    a {
                        font-size: 2rem;
                        margin-right: 0.6rem;
                    }

                    .input-container {
                        input {
                            font-size: 1.3rem;
                        }
                    }

                    button {
                        font-size: 1.3rem;
                    }
                }

                ul {
                    p {
                        font-size: 1.8rem;
                    }

                    hr {
                        margin: 1rem 0;
                    }

                    a {
                        font-size: 1.6rem;
                        color: $text-color-main;

                        &:visited {
                            color: $text-color-main;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $screen-lg) {
    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1000px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotateX(-20deg);
        padding: 0 1rem;
        margin-top: 7px;
        // border: 1px solid #111922;
        border: 1px solid #202e3d;
        border-radius: 2rem;
        background-color: #16202b;
        color: $white;
        opacity: 0;
        // box-shadow: 0 0 5px 0 #161c22;
        animation: fade-in 0.5s forwards;
        animation-timing-function: ease-out;

        @keyframes fade-in {
            from {
                opacity: 0;
                transform: translateX(-50%) rotateX(-20deg);
            }

            to {
                opacity: 1;
                transform: translateX(-50%) rotateX(0deg);
            }
        }

        .desktop-header-search-results {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 0;
            padding: 0 1rem;
            overflow: hidden;
            overflow-y: auto;
            background-color: #212b36;
            box-shadow: 0 0 5px 0 #161c22;
            transition: height 0.3s ease-out;
            z-index: -1;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                width: 0.6rem;
                background-color: #212b36;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #2f3e4e;
                border-radius: 1px;
            }

            &.show {
                &.show-1 {
                    height: 3.6rem;
                }

                &.show-2 {
                    height: 7.2rem;
                }

                &.show-3 {
                    height: 10.8rem;
                }
            }

            .desktop-search-item,
            .desktop-search-item-not-found {
                width: 100%;
                // padding: 1rem 1.5rem;
                padding: 0.5rem;
                margin: 0.5rem 0;
                color: $white;
                text-align: center;
                animation: fadeIn 0.3s ease-out forwards;
                opacity: 0;
            }

            .desktop-search-item {
                display: flex;
                align-items: center;
                cursor: pointer;

                .genre {
                    padding: 0.3rem 0.5rem;
                    margin-right: 1rem;
                    border-radius: 0.3rem;
                    background-color: #000000;

                    &.space {
                        background-color: #1e4788;
                    }

                    &.diverse {
                        background-color: #4e1e88;
                    }
                }
            }

            .desktop-search-item-not-found {
                padding: 1.3rem 1.5rem;
            }
        }

        .desktop-menu-container {
            display: flex;
            align-items: center;
            // width: 100%;
            width: 100vw !important;
            max-width: 1000px;
            padding: 0.2rem 0;
            border-radius: 2rem;
            background-color: #16202b;

            h2 {
                font-size: 1.1rem;
                padding: 1.2rem;
            }

            nav {
                display: flex;
                flex-grow: 1;

                ul {
                    flex-grow: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        cursor: pointer;
                        font-size: 1.07rem;

                        a {
                            display: block;
                            color: $white;
                            text-align: center;
                            text-decoration: none;

                            &:visited {
                                color: $white;
                            }
                        }
                    }

                    .home {
                        padding: 0.6rem 1.3rem;

                        a {
                            padding: 0.4rem;
                        }
                    }

                    .search-container {
                        display: flex;
                        flex-grow: 1;

                        &:hover {
                            .input-container {
                                input {
                                    background-color: #212b36;
                                }
                            }
                        }

                        .input-container {
                            &:hover {
                                input {
                                    // background-color: #212b36;

                                    &::placeholder {
                                        visibility: visible;
                                    }
                                }

                                .bottom-line {
                                    transform: scale(1);
                                }
                            }
                        }

                        .input-container {
                            flex-grow: 1;
                            position: relative;
                            right: 2px;

                            &:focus-within {
                                input {
                                    background-color: #212b36;

                                    &::placeholder {
                                        visibility: visible;
                                    }
                                }

                                .bottom-line {
                                    transform: scale(1);
                                }
                            }

                            .bottom-line {
                                position: absolute;
                                top: 100%;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: $white;
                                transform: scale(0);
                                transform-origin: left;
                                transition: transform 0.3s ease-out;
                            }

                            input {
                                width: 100%;
                                flex-grow: 1;
                                outline: none;
                                border: none;
                                border-radius: 3px;
                                padding: 0.4rem;
                                font-size: 1.1rem;
                                color: $white;
                                background-color: #16202b;
                                text-align: left;
                                transition: background-color 0.1s;

                                &::placeholder {
                                    visibility: hidden;
                                }
                            }
                        }

                        button {
                            border: none;
                            padding: 0.4rem 0.8rem;
                            font-size: 1.07rem;
                            color: $white;
                            background-color: #16202b;
                            cursor: pointer;
                        }
                    }

                    .genres,
                    .language {
                        position: relative;
                        // padding: 1rem 1.7rem;
                        padding: 0.4rem 1rem;
                        margin: 0 1rem;

                        &:hover,
                        &:focus-within {
                            ul {
                                display: block;
                            }
                        }

                        ul {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            padding: 0 0.6rem;
                            background-color: #16202b;

                            li {
                                padding: 0.8rem 0;

                                a {
                                    text-align: center;
                                    padding: 0.4rem 0;
                                }
                            }
                        }
                    }

                    .language {
                        li {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
