<div class="container">
    <div class="image-container wave-border-container" [routerLink]="['/', 'genres', story.genre, story.id]"
        [appWaveBorder]="imageContainer"
        [appImagePlaceholder]="{'isThumbnailImageLoaded': isThumbnailImageLoaded, 'isForThumbnail': true}"
        #imgContainer>
        <div class="wave-border border-1"></div>
        <div class="wave-border border-2"></div>
        <img [src]="story.thumbnail" (load)="onThumbnailImageLoaded()" [alt]="story.title">
    </div>
    <h4 [routerLink]="['/', 'genres', story.genre, story.id]" [appWaveBorder]="imageContainer">{{story.title}}</h4>
</div>