<div [ngClass]="{'hero-container': true, 'hero-loaded': isHeroImageLoaded}"
    [appImagePlaceholder]="{isHeroImageLoaded: isHeroImageLoaded}">
    <img class="mobile" [src]="mobileHeroImage" alt="Genre main image" (load)="onHeroImageLoad()">
    <img class="desktop" [src]="desktopHeroImage" alt="Genre main image" (load)="onHeroImageLoad()">
    <h2 *ngIf="isHeroImageLoaded">{{this.genre}}</h2>
</div>
<div class="stories-container">
    <h3>Últimas historias</h3>
    <app-story-thumbnail *ngFor="let story of stories" [story]="story"></app-story-thumbnail>
</div>