@use "../../vars.scss" as *;

.container {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        border-radius: 50%;
        width: 100%;
        cursor: pointer;
    }

    h4 {
        color: $text-color-main;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        cursor: pointer;
    }
}

/* ###########################################
################ MEDIA QUERIES ############### 
########################################### */

@media screen and (min-width: $screen-md) {
    .container {
        padding: 2.5rem;

        h4 {
            font-size: 1.8rem;
        }
    }
}
