.container {
    display: grid;
    width: 100%;
    padding: 1rem;
    padding-bottom: 3rem;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "choose-option    choose-option"
        "option-letter-a  option-letter-b"
        "imageA           imageB"
        "textA            textB";

    p {
        color: white;
        margin: 1rem;
        text-align: center;
        line-height: 1.3rem;
        cursor: pointer;
    }

    .choose-option {
        font-size: 1.4rem;
        text-align: center;
        grid-area: choose-option;
    }

    .option-letter-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        min-width: 2rem;
        min-height: 2rem;
        font-size: 1.2rem;
        margin: 1rem auto;
        margin-bottom: 2rem;
        position: relative;
        left: -0.25rem;
        color: #c6974d;
        border: 2px solid #c6974d;
        border-radius: 50%;

        &.letter-a {
            grid-area: option-letter-a;
        }

        &.letter-b {
            grid-area: option-letter-b;
        }
    }

    .option-letter-desktop {
        display: none;
    }

    .option-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 0.5rem);

        p {
            /* Option text */
            &:last-child {
                margin: 0;
                padding: 1rem;
                border: 2px solid transparent;
                border-radius: 1rem;
                transition: border 0.2s ease-out;
            }

            &.active-option {
                border-color: #c6974d;
            }
        }
    }

    .image-container {
        border: 2px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: border 0.2s ease-out;

        &.desktop {
            display: none;
            width: 10rem;
            height: 10rem;
            overflow: hidden;
            border-radius: 5px;
            margin: 5rem 0;

            &:first-of-type {
                grid-area: imageA;
            }

            &:last-of-type {
                grid-area: imageB;
            }

            img {
                width: auto;
                height: 100%;
            }
        }

        &.mobile {
            width: calc(100% - 0.5rem);
            height: calc((50vw - 1.5rem) * 4 / 3); // Get 3:4 aspect ratio
            overflow: hidden;
            position: relative;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            margin-bottom: 1rem;
            box-shadow: 0 0 5px 0 #111111;

            &:first-of-type {
                grid-area: imageA;
            }

            &:last-of-type {
                grid-area: imageB;
                margin-left: auto;
            }

            img {
                width: 100%;
                height: auto;
            }

            &:last-of-type {
                border-radius: 0;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
        }

        &.active-option {
            border-color: #c6974d;
            box-shadow: none;

            img {
                transition: transform 0.3s ease-out;
                transform: scale(1.05);
            }
        }
    }

    .text-a {
        grid-area: textA;
    }

    .text-b {
        grid-area: textB;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        grid-template-columns: 30% 30% 20% 20%;
        grid-template-areas:
            "choose-option  choose-option  choose-option  choose-option"
            "textA          textB          imageA         imageB";
        padding-bottom: 1rem;

        p {
            align-self: center;
        }

        .option-letter-mobile {
            display: none;
        }

        .option-letter-desktop {
            display: block;
        }

        .image-container {
            &.desktop {
                display: flex;
                width: 12rem;
                height: 12rem;
                box-shadow: 3px 3px 10px 0 #000000;

                &:hover {
                    img {
                        transition: transform 0.6s ease-out;
                        transform: scale(1.05);
                    }
                }
            }

            &.mobile {
                display: none;
            }
        }

        .option-text-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 7rem;

            p {
                &:hover {
                    &:last-child {
                        border-color: #c6974d;
                    }
                }

                /* Option letter A or B */
                &:first-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    height: 2rem;
                    min-width: 2rem;
                    min-height: 2rem;
                    font-size: 1.2rem;
                    color: #c6974d;
                    border: 2px solid #c6974d;
                    border-radius: 50%;
                }

                /* Option text */
                &:last-child {
                    margin: 0;
                    padding: 1rem;
                    border: 2px solid transparent;
                    border-radius: 1rem;
                    transition: border 0.2s ease-out;
                }

                &.active-option {
                    border-color: #c6974d;
                }
            }
        }
    }
}
