<div class="container">
    <p class="choose-option">Elige una opción</p>

    <!-- Option A -->
    <div class="image-container desktop" (click)="selectOption(optionA, 'A')" title="Opción A" #desktopImageA>
        <img class="image-a" [src]="optionA?.image_desktop" [alt]="optionA?.optionText">
    </div>
    <div class="image-container mobile" (click)="selectOption(optionA, 'A')" title="Opción A" #mobileImageA>
        <img class="image-a" [src]="optionA?.image_mobile" [alt]="optionA?.optionText">
    </div>
    <p class="text-a" (click)="selectOption(optionA, 'A')" title="Opción A">{{optionA?.optionText || 'Option A'}}</p>

    <!-- Option B -->
    <div class="image-container desktop" (click)="selectOption(optionB, 'B')" title="Opción B" #desktopImageB>
        <img class="image-b" [src]="optionB?.image_desktop" [alt]="optionB?.optionText">
    </div>
    <div class="image-container mobile" (click)="selectOption(optionB, 'B')" title="Opción B" #mobileImageB>
        <img class="image-b" [src]="optionB?.image_mobile" [alt]="optionB?.optionText">
    </div>
    <p class="text-b" (click)="selectOption(optionB, 'B')" title="Opción B">{{optionB?.optionText || 'Option B'}}</p>
</div>