@use "../../vars.scss" as *;

.container {
    display: grid;
    width: 100%;
    padding: 1rem;
    padding-bottom: 3rem;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "choose-option    choose-option"
        "option-letter-a  option-letter-b"
        "imageA           imageB"
        "textA            textB";

    p {
        color: $white;
        margin: 1rem;
        text-align: center;
        line-height: 1.3rem;
        cursor: pointer;
    }

    .choose-option {
        font-size: 1.4rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
        grid-area: choose-option;
    }

    .option-letter-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        min-width: 2rem;
        min-height: 2rem;
        font-size: 1.2rem;
        margin: 1rem auto;
        margin-bottom: 2rem;
        position: relative;
        left: -0.25rem;
        color: #c6974d;
        border: 2px solid #c6974d;
        border-radius: 50%;

        &.letter-a {
            grid-area: option-letter-a;
        }

        &.letter-b {
            grid-area: option-letter-b;
            left: 0.25rem;
        }
    }

    .option-letter-desktop {
        display: none;
    }

    .option-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 0.5rem);

        p {
            color: $text-color-main;

            /* Option text */
            &:last-child {
                margin: 0;
                padding: 1rem;
                border: 2px solid transparent;
                border-radius: 1rem;
                transition: border 0.5s ease-out;
            }

            &.active-option {
                border-color: #c6974d;
            }
        }

        &.text-a {
            grid-area: textA;
        }

        &.text-b {
            grid-area: textB;
            margin-left: auto;
        }
    }

    .image-container {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        /* Element that grows and acts as border of option image */
        /* Shows on gap between .image-container and .image-wrapper */
        .image-border-element {
            width: 100%;
            height: 100%;
            position: absolute;
            transform: rotateZ(-45deg) scale(0.5);
            transform-origin: center;
            background-color: #c6974d;
            transition: transform 0.6s ease-out;
        }

        .image-backdrop-layer {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background-color: #1f2c3b;
            position: absolute;
        }

        .image-wrapper {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }
        }

        /* When adding this class, .image-border-element grows to act as border of option image */
        &.show-border {
            .image-border-element {
                transform: rotateZ(-45deg) scale(1.7);
            }
        }

        &.desktop {
            display: none;
            width: 10rem;
            height: 10rem;
            border-radius: 5px;
            margin: 5rem 0;

            .image-wrapper {
                border-radius: 5px;

                img {
                    width: auto;
                    height: 100%;
                }
            }

            &.desktop-image-a {
                grid-area: imageA;
            }

            &.desktop-image-b {
                grid-area: imageB;
            }
        }

        &.mobile {
            width: calc(100% - 0.5rem);
            height: calc((50vw - 1.5rem) * 4 / 3); // Get 3:4 aspect ratio
            overflow: hidden;
            position: relative;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            margin-bottom: 1rem;
            box-shadow: 0 0 5px 0 #111111;

            .image-wrapper {
                border-top-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }

            &.mobile-image-a {
                grid-area: imageA;
            }

            &.mobile-image-b {
                grid-area: imageB;
                margin-left: auto;
                border-radius: 0;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;

                /* Element that grows and acts as border of image */
                /* Shows on gap between .image-container and .image-wrapper */
                /* On 'Option B' make the element rotate to oposite angle as that of option A to fill borders with simmetry to one another (between option A and option B) */
                .image-border-element {
                    transform: rotateZ(45deg) scale(0.5);
                }

                .image-wrapper {
                    border-radius: 0;
                    border-top-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }

                /* When adding this class, .image-border-element grows to act as border of option image */
                &.show-border {
                    .image-border-element {
                        transform: rotateZ(45deg) scale(1.7);
                    }
                }
            }
        }

        /* Zoom in image inside of it's container and apply permanent border */
        &.active-option {
            box-shadow: none;

            img {
                transition: transform 0.3s ease-out;
                transform: scale(1.05);
            }
        }
    }
}

/* ###########################################
################ MEDIA QUERIES ############### 
########################################### */

@media screen and (min-width: $screen-md) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;

        p {
            font-size: 1.2rem;
        }

        .choose-option {
            margin-top: 2rem;
            margin-bottom: 2.5rem;
            font-size: 1.8rem;
        }

        .option-letter-mobile {
            width: 3rem;
            height: 3rem;
            font-size: 1.8rem;
        }

        .image-container {
            &.mobile {
                width: calc(100% - 1rem);
            }
        }

        .option-text-wrapper {
            p {
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .container {
        grid-template-columns: 30% 30% 20% 20%;
        grid-template-areas:
            "choose-option  choose-option  choose-option  choose-option"
            "textA          textB          imageA         imageB";
        padding-bottom: 1rem;

        p {
            align-self: center;
        }

        .option-letter-mobile {
            display: none;
        }

        .option-letter-desktop {
            display: block;
        }

        .image-container {
            &.desktop {
                display: flex;
                width: 12rem;
                height: 12rem;
                box-shadow: 3px 3px 10px 0 #000000;
                margin-left: auto;
                margin-right: auto;
            }

            &.mobile {
                display: none;
            }
        }

        .option-text-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 4rem;

            p {
                /* Option letter A or B */
                &:first-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    height: 2rem;
                    min-width: 2rem;
                    min-height: 2rem;
                    font-size: 1.2rem;
                    color: #c6974d;
                    border: 2px solid #c6974d;
                    border-radius: 50%;
                }

                /* Option text */
                &:last-child {
                    margin: 0;
                    padding: 1rem;
                    border: 2px solid transparent;
                    border-radius: 1rem;
                    transition: border 0.3s ease-out;
                }

                &.active-option {
                    border-color: #c6974d;
                }
            }

            &.text-b {
                margin-left: 0;
            }
        }
    }
}
