<div class="container">
    <p class="choose-option">Elige una opción</p>

    <!-- Option A -->
    <p class="option-letter-mobile letter-a" (click)="selectOption(optionB, 'A')" title="Opción A">A</p>
    <div class="image-container desktop desktop-image-a" (mouseenter)="onMouseEnterOption($event, 'A')"
        (mouseleave)="onMouseLeaveOption($event, 'A')" (click)="selectOption(optionA, 'A')" title="Opción A"
        #desktopImageA>
        <div class="image-border-element"></div>
        <div class="image-wrapper">
            <img class="image-a" [src]="optionA?.image_desktop" [alt]="optionA?.optionText">
        </div>
    </div>
    <div class="image-container mobile mobile-image-a" (click)="selectOption(optionA, 'A')" title="Opción A"
        #mobileImageA>
        <div class="image-border-element"></div>
        <div class="image-wrapper">
            <img class="image-a" [src]="optionA?.image_mobile" [alt]="optionA?.optionText">
        </div>
    </div>
    <div class="option-text-wrapper text-a">
        <p class="option-letter-desktop" (mouseenter)="onMouseEnterOption($event, 'A')"
            (mouseleave)="onMouseLeaveOption($event, 'A')" (click)="selectOption(optionB, 'A')" title="Opción A">A</p>
        <p (mouseenter)="onMouseEnterOption($event, 'A')" (mouseleave)="onMouseLeaveOption($event, 'A')"
            (click)="selectOption(optionA, 'A')" [title]="optionA?.optionText" tabindex="0" #optionTextA>
            {{optionA?.optionText ||
            'Opción A'}}
        </p>
    </div>

    <!-- Option B -->
    <p class="option-letter-mobile letter-b" (click)="selectOption(optionB, 'B')" title="Opción B">B</p>
    <div class="image-container desktop desktop-image-b" (mouseenter)="onMouseEnterOption($event, 'B')"
        (mouseleave)="onMouseLeaveOption($event, 'B')" (click)="selectOption(optionB, 'B')" title="Opción B"
        #desktopImageB>
        <div class="image-border-element"></div>
        <div class="image-wrapper">
            <img class="image-b" [src]="optionB?.image_desktop" [alt]="optionB?.optionText">
        </div>
    </div>
    <div class="image-container mobile mobile-image-b" (click)="selectOption(optionB, 'B')" title="Opción B"
        #mobileImageB>
        <div class="image-border-element"></div>
        <div class="image-wrapper">
            <img class="image-b" [src]="optionB?.image_mobile" [alt]="optionB?.optionText">
        </div>
    </div>
    <div class="option-text-wrapper text-b">
        <p class="option-letter-desktop" (mouseenter)="onMouseEnterOption($event, 'B')"
            (mouseleave)="onMouseLeaveOption($event, 'B')" (click)="selectOption(optionB, 'B')" title="Opción B">B</p>
        <p (mouseenter)="onMouseEnterOption($event, 'B')" (mouseleave)="onMouseLeaveOption($event, 'B')"
            (click)="selectOption(optionB, 'B')" [title]="optionB?.optionText" tabindex="0" #optionTextB>
            {{optionB?.optionText ||
            'Opción B'}}
        </p>
    </div>
</div>