/* You can add global styles to this file, and also import other style files */

/* CSS reset */
@import "reset";

html {
    background-color: #1f2c3b;
}

body {
    font-family: sans-serif;
    padding-bottom: 4rem;
}

* {
    box-sizing: border-box;
    font-family: "Varela Round", "sans-serif";
}

/* ###########################################
################ MEDIA QUERIES ############### 
########################################### */

@media screen and (min-width: 1000px) {
    body {
        padding-bottom: 0;
    }
}
