@use "../../vars.scss" as *;

.container {
    padding-bottom: 5rem;
    background-color: #1f2c3b;

    &.fade-out {
        animation: fadeOut 500ms ease-out forwards;
    }
}

.hero-container {
    width: 100%;
    min-height: calc(100vw * 16 / 9);
    position: relative;

    .main-image {
        width: 100%;
        position: relative;
        z-index: 1;
        // opacity: 0;
    }

    &.hero-loaded {
        animation: fadeIn 0.6s ease-out;

        .main-image {
            opacity: 1;
        }
    }

    .mobile {
        min-width: 100vw;
        min-height: calc(100vw * 16 / 9);
    }

    .desktop {
        display: none;
    }

    h1 {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 2.5rem));
        padding: 4rem;
        color: $text-color-main;
        font-family: "Varela Round", sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: center;
        text-shadow:
            0 0 10px #16202b,
            0 0 10px #16202b;
        opacity: 1;
        z-index: 1;
    }

    h2 {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #f4f7fb;
        width: 100%;
        padding: 3rem;
        font-family: "Varela Round", sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        text-align: center;
        text-shadow:
            0 0 10px #000000,
            0 0 15px #000000;
        transform: translate(-50%, calc(-50% + 1rem));
        opacity: 1;
        z-index: 1;
    }

    &.fade-in-hero-text {
        h1 {
            opacity: 0;
            animation: fadeIn 1.5s 0.7s ease-out forwards;
        }

        h2 {
            opacity: 0;
            animation: fadeIn 1.5s 2s ease-out forwards;
        }
    }
}

.page-description {
    text-align: center;
    color: $text-color-main;
    margin: 5rem 2rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.genres-heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
    color: $white;

    h3 {
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    hr {
        flex-grow: 1;
        max-width: 200px;
        border: none;
        background-color: #324253;
        height: 1px;
        margin: 0 1rem;
    }
}

.genres-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;

    app-genre-thumbnail {
        flex-basis: 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* ################################################
################### MEDIA QUERIES #################
################################################ */

@media screen and (min-width: $screen-sm) {
    .hero-container {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.6rem;
        }
    }
}

@media screen and (min-width: $screen-md) {
    .hero-container {
        h1 {
            font-size: 4rem;
            transform: translate(-50%, calc(-50% - 4rem));
        }

        h2 {
            font-size: 1.8rem;
        }
    }

    .page-description {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    .genres-heading-section {
        h3 {
            font-size: 1.8rem;
        }
    }

    .genres-container {
        app-genre-thumbnail {
            flex-basis: 33%;
        }
    }
}

@media screen and (min-width: $screen-lg), (orientation: landscape) {
    .hero-container {
        min-height: calc(100% * 9 / 16); // Aspect ratio 16:9

        h1 {
            transform: translate(-50%, calc(-50% - 8rem));
            font-size: 4rem;
        }

        h2 {
            transform: translate(-50%, calc(-50% - 4rem));
            font-size: 1.6rem;
        }

        .mobile {
            display: none;
        }

        .desktop {
            display: block;
            min-width: calc(100vw - 2rem); // -2rem for scrollbar width
            min-height: calc((100vw - 2rem) * 9 / 16); // -2rem for scrollbar width
        }
    }

    .genres-container {
        app-genre-thumbnail {
            flex-basis: 33%;
            max-width: 280px;
            padding: 1rem;
        }
    }
}

@media screen and (min-width: $screen-xl) {
    .genres-container {
        app-genre-thumbnail {
            flex-basis: 25%;
            padding: 1rem;
            max-width: 320px;
        }
    }
}
